/* --- Borders --- */
.hidden {
  display: none; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.inline-block {
  display: inline-block; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.no-border-bottom {
  border-bottom: none; }

.bold {
  font-weight: 600; }

.no-hover:hover {
  background-color: transparent; }

/* --- Talus Category Colors (Dark) --- */
/* --- Chart Colors --- */
/* --- Talus Logo Colors --- */
/* --- Dark JEE Colors --- */
/* --- Block Link Content --- */
.block-link-container {
  float: left;
  width: 365px; }

.block-link-capabilities-header {
  position: relative;
  color: black;
  padding: 15px 30px 15px 25px;
  border: 1px solid #999;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  background: -webkit-linear-gradient(top, white, #e6e6e6);
  background: -moz-linear-gradient(top, white, #e6e6e6);
  background: -ms-linear-gradient(top, white, #e6e6e6);
  background: -o-linear-gradient(top, white, #e6e6e6);
  -webkit-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .block-link-capabilities-header.active {
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightsteelblue));
    background: -webkit-linear-gradient(top, white, lightsteelblue);
    background: -moz-linear-gradient(top, white, lightsteelblue);
    background: -ms-linear-gradient(top, white, lightsteelblue);
    background: -o-linear-gradient(top, white, lightsteelblue);
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4); }
  .block-link-capabilities-header .chevron {
    top: 3px;
    width: 24px;
    height: 19px; }

.block-link {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  left: 10%;
  padding: 10px 15px 10px 30px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  color: black;
  cursor: pointer;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  background: -webkit-linear-gradient(top, white, #e6e6e6);
  background: -moz-linear-gradient(top, white, #e6e6e6);
  background: -ms-linear-gradient(top, white, #e6e6e6);
  background: -o-linear-gradient(top, white, #e6e6e6);
  -webkit-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .block-link:first-child {
    border-top: 1px solid #999; }
  .block-link.hidden {
    display: none; }
  .block-link.active {
    font-weight: bold;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightsteelblue));
    background: -webkit-linear-gradient(top, white, lightsteelblue);
    background: -moz-linear-gradient(top, white, lightsteelblue);
    background: -ms-linear-gradient(top, white, lightsteelblue);
    background: -o-linear-gradient(top, white, lightsteelblue);
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4); }

.block-link-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: transparent; }
  .block-link-cover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), transparent);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1), transparent);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1), transparent);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1), transparent); }

.block-link-title {
  display: inline-block;
  font-size: 1.1em;
  vertical-align: top;
  margin-right: 15px; }

.block-link-subtitle {
  margin-left: auto;
  font-size: 0.9rem;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  color: #333; }

/* --- Block Content --- */
.block-container {
  border-top: 1px solid #ccc; }

.block {
  position: relative;
  padding: 30px 30px 30px 0px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.block-content {
  margin-top: 5px; }

.block-description {
  margin: 20px 0px 0px 0px;
  max-width: 750px;
  text-align: left; }

.input-block-container {
  margin-left: 350px;
  padding-left: 75px;
  width: 90%; }
  .input-block-container .block {
    padding-bottom: 70px;
    border-bottom: none; }
    .input-block-container .block.no-reset {
      padding-bottom: 30px; }
  .input-block-container .block-description {
    font-style: italic; }

.alt-btn {
  padding: 5px 15px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  border-radius: 7.5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.alt-btn-large {
  padding: 10px 25px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  border-radius: 7.5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.container-content {
  padding: 10px 30px 30px; }

.container-text {
  max-width: 950px;
  padding: 10px 50px 30px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.info-container {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  pointer-events: none; }
  .info-container .info-box {
    display: inline-block;
    position: relative;
    padding: 18px 15px 20px;
    width: 420px;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.96);
    pointer-events: all; }
  .info-container .info-value-box:first-child {
    position: relative;
    left: 5px; }
  .info-container .info-value-box:last-child {
    position: relative;
    left: -5px; }
  .info-container .info-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75; }
    .info-container .info-close-button:hover {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1; }
    .info-container .info-close-button img {
      width: 20px;
      height: 20px; }
  .info-container .info-title {
    padding: 0 50px;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center; }
  .info-container .info-profile-type {
    margin-top: 5px;
    text-align: center;
    font-size: 1.2em; }
  .info-container .info-score-text-container {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em; }
  .info-container .info-value {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    margin-top: 20px;
    text-align: center; }
  .info-container .info-value-label {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em; }
  .info-container .info-button-container {
    margin-top: 25px; }
  .info-container img {
    position: relative;
    top: -1px;
    margin-left: 5px;
    width: 16px;
    height: 16px; }
  .info-container .source-text {
    text-align: right;
    margin-top: 20px;
    font-size: 0.95em; }

select.form-control {
  display: inline-block;
  width: auto; }

.btn b.caret {
  margin-left: 3px; }

.dropdown-box {
  display: inline-block;
  width: 200px; }

.dropdown-label {
  margin-bottom: 3px;
  font-weight: 600; }

.dropdown-label-inline {
  display: inline-block;
  margin-right: 7px;
  font-weight: 600; }

/* --- Bootstrap Multiselect --- */
.multiselect-container > li.multiselect-group b {
  position: relative;
  top: -1px;
  left: 2px; }

.multiselect-container > li > a.multiselect-all label {
  font-weight: 600; }

#footer {
  position: relative;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #555;
  background-color: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
  background: -o-linear-gradient(top, #fcfcfc, #f0f0f0); }
  #footer span {
    margin-right: 1px; }
  #footer img {
    height: 42px; }

.collapse-arrow {
  position: relative;
  top: -1px;
  width: 12px;
  height: 10px;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75; }
  .collapse-arrow.rotated {
    transform: rotate(180deg); }

.overlay {
  fill: none;
  pointer-events: all; }

.country {
  fill: #ccc;
  stroke: none;
  stroke-width: 0.5; }
  .country:hover {
    stroke: rgba(255, 255, 255, 0.8); }
  .country.active {
    stroke: rgba(255, 109, 0, 0.8); }

.boundary {
  fill: none;
  stroke: none; }

.country-link {
  fill: none;
  stroke: steelblue;
  stroke-linecap: round;
  opacity: 0.2; }

/* --- Map Legends --- */
.legend-text {
  text-anchor: middle; }

.legend-title {
  font-size: 1.1em;
  text-anchor: middle; }

.navbar {
  padding-left: 15px;
  padding-right: 25px;
  border-bottom: 1px solid #999;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background: -moz-linear-gradient(top, #fff, #f0f0f0);
  background: -ms-linear-gradient(top, #fff, #f0f0f0);
  background: -o-linear-gradient(top, #fff, #f0f0f0); }

.navbar .navbar-brand {
  color: #555;
  padding: 7px 10px;
  cursor: pointer; }

.navbar .navbar-nav > li.active, .navbar .navbar-nav > li:hover {
  background-color: #e9e9e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #e9e9e9, #e0e0e0);
  background: -moz-linear-gradient(top, #e9e9e9, #e0e0e0);
  background: -ms-linear-gradient(top, #e9e9e9, #e0e0e0);
  background: -o-linear-gradient(top, #e9e9e9, #e0e0e0); }

.navbar .navbar-nav > li > a {
  color: #555; }

.navbar-brand img.logo {
  display: inline-block;
  height: 40px;
  margin-right: 10px; }

.navbar-brand span:hover {
  color: #000; }

.navbar-brand a:hover {
  text-decoration: none; }

.live-search-results-container {
  display: none;
  position: absolute;
  top: 34px;
  width: 280px;
  background-color: white;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  text-align: left; }
  .live-search-results-container.top-layout {
    top: auto;
    bottom: 49px; }

.live-search-no-results-text {
  display: none;
  padding: 10px;
  text-align: center;
  font-style: italic; }

.live-search-results-box {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f3f3f3));
  background: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
  background: -moz-linear-gradient(top, #fefefe, #f3f3f3);
  background: -ms-linear-gradient(top, #fefefe, #f3f3f3);
  background: -o-linear-gradient(top, #fefefe, #f3f3f3); }
  .live-search-results-box:hover, .live-search-results-box.active {
    background-color: #e6e6e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#d9d9d9));
    background: -webkit-linear-gradient(top, #e6e6e6, #d9d9d9);
    background: -moz-linear-gradient(top, #e6e6e6, #d9d9d9);
    background: -ms-linear-gradient(top, #e6e6e6, #d9d9d9);
    background: -o-linear-gradient(top, #e6e6e6, #d9d9d9); }
    .live-search-results-box:hover div, .live-search-results-box.active div {
      color: #000; }

.live-search-results-container.top-layout .live-search-results-box:first-child,
.live-search-results-container.top-layout .live-search-no-results-text {
  border-top: 1px solid #999; }

.live-search-results-container.bottom-layout .live-search-results-box:last-child,
.live-search-results-container.bottom-layout .live-search-no-results-text {
  border-bottom: 1px solid #999; }

.live-search-results-title {
  font-weight: 600; }

.live-search-results-subtitle {
  font-size: 0.9em; }

.section {
  margin-bottom: 30px; }
  .section:nth-child(n+2) {
    border-top: 1px solid #ccc;
    padding-top: 10px; }

.slider.slider-horizontal {
  position: relative; }
  .slider.slider-horizontal .slider-track {
    background-color: #a0a0a0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a0a0a0), to(#c0c0c0));
    background: -webkit-linear-gradient(top, #a0a0a0, #c0c0c0);
    background: -moz-linear-gradient(top, #a0a0a0, #c0c0c0);
    background: -ms-linear-gradient(top, #a0a0a0, #c0c0c0);
    background: -o-linear-gradient(top, #a0a0a0, #c0c0c0); }
  .slider.slider-horizontal .slider-selection {
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c6c6c6));
    background: -webkit-linear-gradient(top, #fff, #c6c6c6);
    background: -moz-linear-gradient(top, #fff, #c6c6c6);
    background: -ms-linear-gradient(top, #fff, #c6c6c6);
    background: -o-linear-gradient(top, #fff, #c6c6c6); }
  .slider.slider-horizontal .slider-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    margin-left: -8px;
    z-index: 10;
    cursor: pointer;
    background-color: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#666));
    background: -webkit-linear-gradient(top, #ccc, #666);
    background: -moz-linear-gradient(top, #ccc, #666);
    background: -ms-linear-gradient(top, #ccc, #666);
    background: -o-linear-gradient(top, #ccc, #666); }
  .slider.slider-horizontal .slider-tick-box {
    position: absolute;
    width: 100%;
    top: 15px;
    left: -1px;
    z-index: 9; }
  .slider.slider-horizontal .slider-tick-group {
    position: absolute; }
  .slider.slider-horizontal .slider-tick-vert {
    position: absolute;
    width: 2px;
    height: 4px;
    background-color: #999; }
  .slider.slider-horizontal .slider-tick-text-container {
    position: absolute; }
  .slider.slider-horizontal .slider-tick-text {
    position: absolute;
    top: 6px;
    left: -39px;
    width: 80px;
    font-size: 0.9em;
    text-align: center; }

.tab {
  display: inline-block;
  padding: 10px 20px 7.5px 20px;
  border-bottom: none;
  font-size: 1.1em;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9f9f9));
  background: -webkit-linear-gradient(top, white, #f9f9f9);
  background: -moz-linear-gradient(top, white, #f9f9f9);
  background: -ms-linear-gradient(top, white, #f9f9f9);
  background: -o-linear-gradient(top, white, #f9f9f9); }

.tab:hover {
  border-color: #adadad;
  background-color: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#eee));
  background: -webkit-linear-gradient(top, #e6e6e6, #eee);
  background: -moz-linear-gradient(top, #e6e6e6, #eee);
  background: -ms-linear-gradient(top, #e6e6e6, #eee);
  background: -o-linear-gradient(top, #e6e6e6, #eee); }

.tab.active {
  background-color: #e9e9e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #e9e9e9, #f0f0f0);
  background: -moz-linear-gradient(top, #e9e9e9, #f0f0f0);
  background: -ms-linear-gradient(top, #e9e9e9, #f0f0f0);
  background: -o-linear-gradient(top, #e9e9e9, #f0f0f0);
  -webkit-box-shadow: inset 0 3.5px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3.5px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3.5px 5px rgba(0, 0, 0, 0.125); }

.tab-content-container {
  border: 1px solid #ccc;
  padding: 15px 25px; }

.tab-content {
  display: none; }

.dataTables_wrapper .row:last-child {
  margin-top: 10px; }

.dataTables_wrapper .dataTables_scroll {
  border-bottom: 1px solid #eee; }

h2 {
  font-weight: 600; }

h3 {
  font-weight: 600; }

b {
  font-weight: 600; }

.description {
  margin-top: 20px;
  max-width: 700px; }

.instructions {
  font-style: italic;
  max-width: 700px;
  margin-top: 20px; }

.tooltipster-sidetip.tooltipster-shadow .tooltipster-content,
.tooltipster-follower.tooltipster-shadow .tooltipster-content {
  padding: 12px 20px;
  color: #444;
  font-size: 1em !important; }

.tooltip-title {
  font-size: 1.1em;
  font-weight: 600;
  text-align: center; }

.tooltip-score-text {
  text-align: center;
  margin-top: 5px; }

.tooltip-profile-type {
  text-align: center;
  margin-top: 5px;
  font-size: 0.95em; }

.tooltip-main-value {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
  text-align: center; }

.tooltip-main-value-label {
  margin: 15px 0 5px;
  text-align: center; }

.tooltip-row-content {
  margin-top: 10px; }

.category-chart .bar-label {
  font-size: 0.9em;
  font-weight: 600; }
.category-chart .axis-label {
  font-weight: 600;
  text-anchor: middle; }
.category-chart .legend-label {
  text-anchor: middle; }

.category-chart-container {
  position: relative; }
  .category-chart-container .source-text {
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    right: 0; }

.tick text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem; }

.axis-label {
  text-anchor: middle;
  font-size: 1.4rem; }

.circle-pack-chart .node--root {
  fill: none; }
.circle-pack-chart .node {
  stroke: none; }
.circle-pack-chart .node:hover {
  stroke: rgba(0, 0, 0, 0.6); }
.circle-pack-chart .legend-label {
  font-size: 0.95em; }

.network-map-chart .node {
  font-size: 0.9em; }
.network-map-chart .link {
  fill: steelblue;
  fill-opacity: 0.3; }
  .network-map-chart .link:hover, .network-map-chart .link.country-hover, .network-map-chart .link.active {
    fill-opacity: 0.8; }
  .network-map-chart .link.search-hidden {
    display: none; }
.network-map-chart .country-arc {
  fill-opacity: 0.9; }
  .network-map-chart .country-arc:hover, .network-map-chart .country-arc.active {
    fill-opacity: 1; }
.network-map-chart .region-arc,
.network-map-chart .subregion-arc {
  fill-opacity: 0.9; }
.network-map-chart .arc-label {
  font-weight: 600;
  font-size: 1.1em;
  text-anchor: middle; }
.network-map-chart .legend-label {
  text-anchor: middle; }

.nm-tooltip-title {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px; }

.progress-circle-chart .progress-circle-value {
  font-size: 1.5em;
  font-weight: 600;
  text-anchor: middle; }

.scatterplot .country-node {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9; }
.scatterplot .tick line,
.scatterplot path {
  stroke: rgba(255, 255, 255, 0.8); }
.scatterplot .axis-label {
  font-weight: 600; }

.scatterplot-tooltip {
  font-size: 1.4rem; }
  .scatterplot-tooltip .scatterplot-tooltip-title {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center; }
  .scatterplot-tooltip .scatterplot-tooltip-info {
    margin: 15px 0 25px; }
  .scatterplot-tooltip .scatterplot-tooltip-value {
    margin: 0 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    text-align: center;
    white-space: nowrap; }
  .scatterplot-tooltip .scatterplot-tooltip-value-label {
    margin-top: 10px;
    text-align: center; }

.time-chart .bar-text {
  font-size: 0.9em;
  font-weight: 600;
  text-anchor: middle; }
.time-chart .chart-label {
  font-size: 0.9em;
  text-anchor: middle; }
.time-chart .legend-label {
  font-size: 0.9em; }

.time-chart-container {
  position: relative;
  padding-bottom: 20px; }
  .time-chart-container .source-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.9em; }

.analysis-container {
  padding: 0;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  min-height: calc(100% - 51px);
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background: -moz-linear-gradient(top, #fff, #f0f0f0);
  background: -ms-linear-gradient(top, #fff, #f0f0f0);
  background: -o-linear-gradient(top, #fff, #f0f0f0); }

.analysis-filter-bar {
  position: relative;
  padding: 15px 30px;
  border-bottom: 1px solid #999;
  text-align: center;
  z-index: 1000; }
  .analysis-filter-bar .filter-box {
    display: inline-block;
    margin: 0 15px;
    text-align: left; }
  .analysis-filter-bar .slider-box {
    position: relative;
    top: -6px;
    margin-right: 50px; }
  .analysis-filter-bar .search-container {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    color: #333; }

.analysis-content {
  position: relative;
  margin: 0;
  padding: 20px 30px 50px;
  z-index: 100; }

.flag {
  position: relative;
  top: -2px;
  height: 30px;
  margin: 0 20px; }

.table .flag-container {
  display: inline-block;
  width: 40px;
  margin-right: 15px;
  text-align: right; }
.table .flag {
  height: 16px;
  margin: 0; }

.country-table {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .country-table thead tr {
    background-color: #fafafa; }
  .country-table thead td {
    font-weight: 600; }
  .country-table thead td:first-child {
    padding-left: 62px; }
  .country-table tbody tr {
    background-color: #fff;
    cursor: pointer; }
  .country-table td:first-child {
    white-space: nowrap; }
  .country-table td:nth-child(n+2) {
    white-space: nowrap;
    text-align: right; }
  .country-table .flag-container {
    vertical-align: top; }
  .country-table .name-container {
    display: inline-block;
    width: 220px;
    white-space: normal;
    vertical-align: top;
    font-weight: 600;
    cursor: pointer; }
  .country-table .name-container span:hover {
    text-decoration: underline; }

.analysis-country-content .analysis-country-title {
  text-align: right;
  cursor: pointer;
  margin: 2px 0 0;
  padding: 2px 0 0;
  font-size: 40px; }
.analysis-country-content .profile-type-container {
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  font-weight: 600;
  text-align: center; }
.analysis-country-content .profile-type-text {
  display: inline-block; }
.analysis-country-content .flag {
  border: 1px solid #555; }
.analysis-country-content div .btn-sm {
  font-size: 0.8em;
  width: 125px; }

.country-summary-text {
  float: left;
  text-align: left; }

.country-summary-label {
  font-weight: 400;
  font-size: 2em; }

.country-summary-value {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 2em; }

/* --- Buffer Page --- */
.country-summary-content {
  display: none;
  margin-top: 40px; }
  .country-summary-content .column {
    padding: 0 30px; }
  .country-summary-content .donor-column {
    text-align: right; }
  .country-summary-content .summary-value-box {
    display: inline-block;
    vertical-align: top;
    text-align: center; }
  .country-summary-content .show-donor-btn,
  .country-summary-content .show-recipient-btn {
    margin-top: 15px; }
  .country-summary-content .country-summary-label {
    font-weight: 400;
    font-size: 1.2em; }
  .country-summary-content .country-summary-value {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; }

/* --- Detail Page --- */
.switch-type-button {
  position: absolute;
  top: 43px;
  right: 30px; }

.country-flow-content {
  display: none;
  position: relative;
  margin-top: 10px; }
  .country-flow-content .show-table-btn {
    margin-top: 10px; }

.country-flow-summary-empty {
  display: none;
  margin-top: 55px;
  text-align: center; }
  .country-flow-summary-empty .no-text {
    font-size: 1.1em;
    text-align: center; }
  .country-flow-summary-empty .submit-data-btn {
    margin-top: 20px; }

.country-flow-summary,
.progress-circle-section {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  min-height: 180px; }
  .country-flow-summary .country-summary-label,
  .progress-circle-section .country-summary-label {
    font-weight: 600;
    font-size: 1.2em; }
  .country-flow-summary .country-summary-value,
  .progress-circle-section .country-summary-value {
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.4em; }
  .country-flow-summary .country-summary-text,
  .progress-circle-section .country-summary-text {
    float: left;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .country-flow-summary .progress-circle-text,
  .progress-circle-section .progress-circle-text {
    float: left;
    max-width: 100%;
    text-align: left; }
  .country-flow-summary .time-chart-container,
  .progress-circle-section .time-chart-container {
    text-align: right; }
  .country-flow-summary .progress-circle-title,
  .progress-circle-section .progress-circle-title {
    white-space: nowrap;
    font-size: 1.5em; }
    .country-flow-summary .progress-circle-title .info-img,
    .progress-circle-section .progress-circle-title .info-img {
      position: relative;
      width: 16px;
      height: 16px;
      margin-left: 5px; }
  .country-flow-summary .progress-circle-description,
  .progress-circle-section .progress-circle-description {
    margin-top: 15px; }
  .country-flow-summary .circle-chart-content,
  .progress-circle-section .circle-chart-content {
    display: inline-block;
    text-align: left;
    vertical-align: top; }
  .country-flow-summary .circle-chart-label,
  .progress-circle-section .circle-chart-label {
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 600; }
  .country-flow-summary .circle-chart-sublabel,
  .progress-circle-section .circle-chart-sublabel {
    font-size: 0.95em;
    line-height: 1.25;
    margin-top: 4px; }
  .country-flow-summary .source-text,
  .progress-circle-section .source-text {
    text-align: right;
    font-size: 0.95em; }

.progress-circle-section .source-text {
  padding-top: 65px; }

.country-chart-container {
  position: relative;
  padding: 10px 30px 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  min-height: 180px; }
  .country-chart-container .circle-pack-content {
    text-align: center; }
  .country-chart-container .circle-pack-description {
    max-width: 500px; }
  .country-chart-container .country-table-container {
    margin-top: 20px;
    padding-right: 25px;
    width: 100%; }
  .country-chart-container .country-table {
    width: 100%; }
  .country-chart-container .name-container {
    width: 200px; }

.category-chart-section {
  position: relative;
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  min-height: 180px; }
  .category-chart-section .source-text {
    text-align: right;
    font-size: 0.95em; }
  .category-chart-section .description {
    width: 100%;
    max-width: 100%; }

.toggle-type {
  text-align: right;
  margin-top: 10px;
  vertical-align: middle; }

.toggle-disbursed-container {
  padding-top: 5px;
  text-align: left; }

.return-button {
  margin-top: 10px; }

.toggle-category-chart {
  text-align: center;
  font-style: italic; }

.vert-space-20 {
  height: 20px; }

.toggle-pie-div {
  padding-left: 40px; }

.category-chart-controls {
  width: 100%;
  padding-left: 45px; }

.right-border {
  border-right: 1px solid #ccc; }

.circle-pack-title,
.progress-circle-title,
.category-chart-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0px; }

.slightly-dark {
  background-color: #fbfbfb; }

.analysis-global-content .analysis-global-tab-container {
  margin-top: 20px;
  text-align: center; }
.analysis-global-content .tab-content-container {
  background-color: #f3f3f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e9e9e9));
  background: -webkit-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: -moz-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: -ms-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: -o-linear-gradient(top, #f3f3f3, #e9e9e9); }

/* --- Network Map Section --- */
.global-tab-content[tab="network"] .title-container {
  display: inline-block;
  text-align: left; }

.network-map-container {
  position: relative;
  margin-top: 30px;
  min-height: 780px; }
  .network-map-container .network-map-content {
    float: left; }
  .network-map-container .network-map-no-content {
    display: none;
    text-align: center;
    font-style: italic;
    font-size: 1.1em; }
  .network-map-container .source-text {
    position: absolute;
    font-size: 0.95em;
    text-align: right;
    width: 290px;
    bottom: 10px;
    right: 10px; }

.network-right-column {
  position: relative;
  top: 10px;
  margin-left: 750px; }

.network-map-options {
  border: 1px solid #999;
  padding: 10px 30px;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6));
  background: -webkit-linear-gradient(top, #fff, #f6f6f6);
  background: -moz-linear-gradient(top, #fff, #f6f6f6);
  background: -ms-linear-gradient(top, #fff, #f6f6f6);
  background: -o-linear-gradient(top, #fff, #f6f6f6);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .network-map-options .search-container {
    position: relative;
    z-index: 100; }
  .network-map-options .country-search-input,
  .network-map-options .live-search-results-container {
    width: 244px; }
  .network-map-options .slider-box {
    margin: 25px 0 40px; }
  .network-map-options .filter-box {
    margin: 25px 0 20px; }
  .network-map-options .radio-option {
    margin-left: 10px;
    cursor: pointer; }
  .network-map-options .radio-option input {
    position: relative;
    top: 2px;
    margin-right: 3px; }
  .network-map-options .slider {
    margin-top: 5px;
    margin-left: 15px; }
  .network-map-options .info-img {
    position: relative;
    top: -1px;
    width: 13px;
    height: 13px;
    margin-left: 5px; }

.network-country-info {
  display: none;
  position: relative;
  margin-top: 20px;
  border: 1px solid #999;
  padding: 15px 30px;
  text-align: center;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6));
  background: -webkit-linear-gradient(top, #fff, #f6f6f6);
  background: -moz-linear-gradient(top, #fff, #f6f6f6);
  background: -ms-linear-gradient(top, #fff, #f6f6f6);
  background: -o-linear-gradient(top, #fff, #f6f6f6);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .network-country-info .nci-title {
    padding: 0 10px;
    font-size: 1.4em;
    font-weight: 600; }
  .network-country-info .nci-section {
    margin-top: 15px; }
  .network-country-info .nci-value {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em; }
  .network-country-info .nci-value-label {
    margin-top: 3px; }
  .network-country-info .nci-button-container {
    margin-top: 20px; }
  .network-country-info .info-close-button {
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    cursor: pointer; }
    .network-country-info .info-close-button img {
      width: 18px;
      height: 18px; }

/* --- Table Section --- */
.global-tab-content[tab="country"] .fund-table-title {
  font-size: 1.4em;
  text-align: center; }
.global-tab-content[tab="country"] .description-container {
  position: relative;
  z-index: 1000;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center; }
.global-tab-content[tab="country"] .description-content {
  position: relative;
  z-index: 100;
  text-align: left;
  display: inline-block;
  max-width: 700px; }
.global-tab-content[tab="country"] .description {
  margin: 15px 0 0; }
.global-tab-content[tab="country"] .table-content {
  padding-top: 5px; }
.global-tab-content[tab="country"] .donor-table,
.global-tab-content[tab="country"] .recipient-table {
  margin-top: 25px; }
.global-tab-content[tab="country"] .table-country-search {
  position: relative;
  margin-top: 5px; }
  .global-tab-content[tab="country"] .table-country-search .search-container {
    display: inline-block; }
  .global-tab-content[tab="country"] .table-country-search input {
    width: 400px; }
.global-tab-content[tab="country"] .source-text {
  margin-top: 20px;
  font-size: 0.95em;
  text-align: right; }

.analysis-pair-content {
  position: relative;
  margin-top: 30px;
  text-align: center; }
  .analysis-pair-content .analysis-country-title {
    margin: 0 250px;
    line-height: 1.5; }
  .analysis-pair-content .analysis-country-title span {
    cursor: pointer; }
  .analysis-pair-content .arrow-html {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 7px; }
  .analysis-pair-content .donor-button {
    position: absolute;
    top: 3px;
    left: 50px; }
  .analysis-pair-content .recipient-button {
    position: absolute;
    top: 3px;
    right: 50px; }
  .analysis-pair-content .flag {
    border: 1px solid #555; }

.analysis-table-content {
  position: relative;
  margin-top: 30px;
  text-align: center; }
  .analysis-table-content .analysis-country-title {
    margin: 0 225px;
    text-align: center;
    cursor: pointer; }
  .analysis-table-content .back-button {
    position: absolute;
    top: -3px;
    right: 50px; }
  .analysis-table-content .flag {
    border: 1px solid #555; }

.country-funds-content {
  margin-top: 40px;
  padding: 0 50px 50px;
  border-bottom: 1px solid #999; }
  .country-funds-content .summary-text {
    margin: 0 20px 40px;
    font-size: 1.2em; }
  .country-funds-content .funds-table-container {
    display: inline-block;
    padding: 20px 30px;
    width: 100%;
    border: 1px solid #ccc;
    text-align: left;
    background-color: white;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .country-funds-content .funds-table .money-cell {
    width: 120px;
    text-align: right;
    white-space: nowrap; }
  .country-funds-content .funds-table tr {
    cursor: pointer; }
  .country-funds-content .funds-source-text {
    margin-top: 15px;
    font-size: 0.9em;
    text-align: right; }

.glossary-table {
  margin-top: 30px; }
  .glossary-table td:first-child {
    font-weight: 600;
    white-space: nowrap;
    padding-right: 25px; }

.home-container {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
  background-color: #222; }

.map-container {
  width: 100%;
  max-height: calc(100vh - 51px);
  overflow-y: hidden; }

.right-container {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 100; }

.search-container {
  position: relative;
  margin-top: 10px; }
  .search-container input {
    position: relative;
    width: 280px;
    padding: 6px 16px;
    border-color: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.map-options-container {
  display: none;
  width: 280px;
  border: 1px solid #999;
  text-align: left;
  background-color: rgba(240, 240, 240, 0.8);
  z-index: 10;
  transition: background-color 1s; }
  .map-options-container:hover {
    background-color: rgba(240, 240, 240, 0.925); }
  .map-options-container .map-options-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px 20px;
    background-color: rgba(240, 240, 240, 0.5);
    cursor: pointer; }
    .map-options-container .map-options-title img {
      top: 4px; }
    .map-options-container .map-options-title:hover {
      background-color: rgba(240, 240, 240, 0.8); }
  .map-options-container .map-options-content {
    display: none;
    border-top: 1px solid #999;
    padding: 15px 20px; }
  .map-options-container .filter-section:nth-child(n+2) {
    margin-top: 15px;
    border-top: 1px solid #999;
    padding-top: 15px; }
  .map-options-container .filter-box:nth-child(n+2) {
    margin-top: 15px; }
  .map-options-container .score-filters {
    display: none; }
  .map-options-container .money-flow-type-filter {
    float: left; }
  .map-options-container .money-type-filter {
    margin-left: 102px; }
  .map-options-container .multiselect {
    width: 190px; }
  .map-options-container .radio-option {
    margin-left: 10px;
    cursor: pointer; }
  .map-options-container .radio-option input {
    position: relative;
    top: 2px; }
  .map-options-container .radio-option td {
    vertical-align: top; }
  .map-options-container .radio-option td:nth-child(2) {
    position: relative;
    top: 2px;
    left: 3px; }
  .map-options-container .slider {
    margin: 5px 0 15px 15px;
    width: 210px; }
  .map-options-container .info-img {
    position: relative;
    top: -1px;
    width: 13px;
    height: 13px;
    margin-left: 3px; }
  .map-options-container .or-text {
    padding-left: 27px;
    font-size: 0.95em; }

.legend-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .legend-container .legend-display-tab {
    display: inline-block;
    padding: 3px 12px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
    .legend-container .legend-display-tab img {
      top: 0;
      width: 10px;
      height: 8px;
      margin: 0 7px; }
  .legend-container .legend-content {
    display: none; }
  .legend-container .legend-box {
    display: inline-block;
    padding: 20px 15px 10px;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.8); }
  .legend-container .legend-tick {
    stroke: #333; }
  .legend-container image.legend-tooltip {
    width: 14px;
    height: 14px; }

.settings-page-container select {
  margin-top: 3px; }
.settings-page-container .settings-content {
  margin-top: 20px; }

.submit-page-container {
  position: relative; }
  .submit-page-container input[type="file"] {
    display: none; }
  .submit-page-container .upload-button-container {
    margin-top: 20px; }
    .submit-page-container .upload-button-container .btn {
      margin-right: 5px; }
  .submit-page-container .submit-form-content {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px; }
  .submit-page-container .submit-form-container {
    margin-left: 20px; }
  .submit-page-container .file-name-text {
    display: inline-block;
    margin-left: 15px;
    font-size: 1.1em; }

.submit-form-table {
  margin-top: 20px; }
  .submit-form-table td {
    padding: 5px 25px 5px 0; }
  .submit-form-table td:first-child {
    font-weight: 600; }
  .submit-form-table input {
    width: 250px; }

body {
  font-family: 'Open Sans', sans-serif; }

#page-content {
  margin-top: 51px;
  min-height: 100px; }

/*# sourceMappingURL=main.css.map */
