@import 'helpers/classes';
@import 'helpers/colors';
@import 'helpers/mixins';
@import 'helpers/vendors';

@import 'pages/map';
@import 'pages/login';

body { 
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
#page-content {
	position: relative;
	z-index: 10;
}