@import 'helpers/borders';
@import 'helpers/classes';
@import 'helpers/colors';
@import 'helpers/mixins';

@import 'components/blocks';
@import 'components/buttons';
@import 'components/containers';
@import 'components/dropdowns';
@import 'components/footer';
@import 'components/maps';
@import 'components/navbar';
@import 'components/sankey';
@import 'components/search';
@import 'components/sections';
@import 'components/sliders';
@import 'components/tabs';
@import 'components/tables';
@import 'components/text';
@import 'components/tooltips';

@import 'charts/charts';
@import 'charts/scatterplot';

@import 'pages/home';


body { font-family: 'Open Sans', sans-serif; }
#page-content {
	margin-top: 51px;
	min-height: 100px;
}
