.category-chart {
	min-height: 110px;
	.bar-label {
		font-size: 0.9em;
		font-weight: 600;
	}
	.axis-label {
		font-weight: 600;
		text-anchor: middle;
	}
	.legend-label {
		text-anchor: middle;
	}
}
.category-chart-container {
	position: relative;


	//.source-text {
		//	font-size: 0.9em;
		//	position: absolute;
		//	bottom: 0;
		//	right: 0;
		//}
	}

	.category-chart-section {
		.no-data-message {
			margin-bottom: -10px;
			margin-top: 10px;
		}
	}