.category-chart {
	.bar-label {
		font-size: 0.9em;
		font-weight: 600;
	}
	.axis-label {
		font-weight: 600;
		text-anchor: middle;
	}
	.legend-label {
		text-anchor: middle;
	}
}
.category-chart-container {
	position: relative;

	//.source-text {
	//	font-size: 0.9em;
	//	position: absolute;
	//	bottom: 0;
	//	right: 0;
	//}
}