.chord-chart {
	.node {
		font-size: 0.9em;
	}
	.link {
		fill: steelblue;
		fill-opacity: 0.4;
		&:hover {
			fill-opacity: 0.8;
		}
	}
	.arc-label {
		font-weight: 600;
		font-size: 1.1em;
		text-anchor: middle;
	}
	.legend-label {
		text-anchor: middle;	
	}
}