.chord-chart {
	.node {
		font-size: 0.9em;
	}
	.link {
		fill: none;
		stroke: steelblue;
		opacity: 0.1;
	}
	.arc-label {
		font-weight: 600;
		font-size: 1.1em;
		text-anchor: middle;
	}
	.legend-label {
		text-anchor: middle;	
	}
}