.network-map-chart {
	.node {
		font-size: 0.9em;
	}
	.link {
		fill: steelblue;
		fill-opacity: 0.3;
		opacity: 1;

		&:hover,
		&.country-hover,
		&.active {
			fill-opacity: 0.8;
		}
		&.search-hidden {
			opacity: 0;
		}
	}
	.country-arc {
		fill-opacity: 0.9;
		&:hover,
		&.active {
			fill-opacity: 1;
		}
	}
	.region-arc,
	.subregion-arc {
		fill-opacity: 0.9;
	}
	.arc-label {
		font-weight: 600;
		font-size: 1.1em;
		text-anchor: middle;
	}
	.legend-label {
		text-anchor: middle;	
	}
}
.nm-tooltip-title {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}