.time-chart {
	.bar-text {
		font-size: 0.9em;
		font-weight: 600;
		text-anchor: middle;
	}
    
    .point-text {
		font-size: 0.9em;
		font-weight: 600;
		text-anchor: middle;
	}
	.chart-label {
		font-size: 0.9em;
		text-anchor: middle;
	}
	.legend-label {
		font-size: 0.9em;
	}
}

.countName {
    @include flex(1);
    width:100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-anchor: middle;
    padding: 10px;
    background-color:#eee;
}

.comOrSpent {
    font-size: 12px;
    margin-top: 4px; 
    margin-bottom: 12px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-talus .tooltipster-box {
  padding: 0;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-talus .tooltipster-content {
  padding: 0;

  .tooltip-contents {
    @include flexbox();
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    .tooltip-header {
      @include flex(1);
      width: 100%;
      padding: 10px;
      background-color: #eee;

      .tooltip-primary-header {
        font-size: 14px;
        font-weight: 600;
      }
      .tooltip-sub-header {
        font-size: 11px;
        font-weight: 400;
      }
    }

    .tooltip-list {
      @include flex(2);

      @include flexbox();
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;

      white-space: normal;

      .tooltip-list-item {
        @include flex(1);
        width: 100%;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 10px;
        padding-bottom: 5px;

        .tooltip-list-item-title {
          width: 100%;
          font-size: 11px;
          font-weight: 600;
        }

        .tooltip-list-item-detail {
          width: 100%;
          font-size: 11px;
          font-weight: 400;
        }
      }
    }

    .tooltip-row {
      @include flex(1);
      width: 100%;
      padding-top: 5px;
      padding-right: 5px;
      padding-left: 10px;
      padding-bottom: 5px;

      @include flexbox();
      flex-flow: row nowrap;
      justify-content: space-between;

      .tooltip-row-title {
        @include flex(1 1 auto);
        margin-right: 20px;
        font-size: 11px;
        font-weight: 600;
      }

      .tooltip-row-detail {
        @include flex(1 1 auto);
        font-size: 11px;
        font-weight: 400;
        text-align: right;
      }
    }


    .tooltip-button {
      align-self: flex-end;
      margin-top: 10px;
      //border-radius: 5px;
      //background-color: #4264a0;
      //color: white;
      //padding: 5px;
      //cursor: pointer;

      //&:hover {
      //  @include drop-shadow(0 0 3px #888);
      //}
    }
  }
}

.time-chart-container {
	position: relative;
	//padding-bottom: 20px;

	/*.source-text {
		position: absolute;
		bottom: 0px;
		right: 0px;
		font-size: 0.9em;
	}*/
	//.source-text {
	//	right: 30px;
	//	bottom: 20px;
	//	font-size: 0.95em;
	//	float: right;
	//	padding-top: 20px;
	//}

	.country-summary-label {
		font-weight: 400;
		font-size: 1.2em;
		text-align: left;
	}
}