.time-chart {
	.bar-text {
		font-size: 0.9em;
		font-weight: 600;
		text-anchor: middle;
	}
	.chart-label {
		font-size: 0.9em;
		text-anchor: middle;
	}
	.legend-label {
		font-size: 0.9em;
	}
}
.time-chart-container {
	position: relative;
	padding-bottom: 20px;

	/*.source-text {
		position: absolute;
		bottom: 0px;
		right: 0px;
		font-size: 0.9em;
	}*/
	.source-text {
		right: 30px;
		bottom: 20px;
		font-size: 0.95em;
		float: right;
		padding-top: 20px;
	}
}