.time-chart {
	.bar-text {
		font-size: 0.9em;
		font-weight: 600;
		text-anchor: middle;
	}
    
    .point-text {
		font-size: 0.9em;
		font-weight: 600;
		text-anchor: middle;
	}
	.chart-label {
		font-size: 0.9em;
		text-anchor: middle;
	}
	.legend-label {
		font-size: 0.9em;
	}
}

.countName {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    text-anchor: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comOrSpent {
    font-size: 10px !important;
    margin-top: 4px; 
    margin-bottom: 12px;
}

.time-chart-container {
	position: relative;
	//padding-bottom: 20px;

	/*.source-text {
		position: absolute;
		bottom: 0px;
		right: 0px;
		font-size: 0.9em;
	}*/
	//.source-text {
	//	right: 30px;
	//	bottom: 20px;
	//	font-size: 0.95em;
	//	float: right;
	//	padding-top: 20px;
	//}

	.country-summary-label {
		font-weight: 400;
		font-size: 1.2em;
		text-align: left;
	}
}