# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Selected Subdirectories
research/documents
research/presentations
data/simulated_data.tsv

# Dependencies
node_modules/

