// .alt-btn {
// 	padding: 5px 15px;
// 	@include border-radius(7.5px);
// }
// .alt-btn-large {
// 	padding: 10px 25px;
// 	@include border-radius(7.5px);
// }

.alt-btn {
	background: rgb(5, 48, 97);
	border: none;
}

.btn-view-ghsa,
.btn-view-map {
	top: -2px;
    position: relative;
    left: 15px;
    &.btn-view-map {
    	left: 30px;
    }
}