// .alt-btn {
// 	padding: 5px 15px;
// 	@include border-radius(7.5px);
// }
// .alt-btn-large {
// 	padding: 10px 25px;
// 	@include border-radius(7.5px);
// }

//.alt-btn {
//}

.btn-view-ghsa,
.btn-view-map {
  padding: 10px 15px;
  font-size: 16px;
  margin: 10px;
  &.btn-view-map {
  }
  &.map-btn {
    vertical-align: text-top;
    position: relative;
    font-style: normal;
  }
  &.btn-hidden {
    display: none;
  }
}

.funder-recipient-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 16px;

  height: 50px;
  width: 250px;

  $fundingColor: #597251;
  $recipientColor: #623B63;
}


$border-width: 2px;
.talus-btn {
  font-weight: 400;
  height: 45px;

  padding: 10px 15px;
  border: $border-width solid transparent;
  margin: 5px;
  @include border-radius(5px);

  &:hover {
    font-weight: 600;
  }

  &:active {
    font-weight: 400;
    @include box-shadow(0 0 5px black);
  }

  &:before {
    content: attr(value);
  }

  &:after {
    display: block;
    visibility: hidden;
    content: attr(value);
    font-weight: 600;
    color: transparent;
    overflow: hidden;
  }
}

.talus-primary-btn {
  $primaryColor: #425379;
  $primaryColor2: #213561;
  $primaryFont: white;

  $secondaryColor: #e6e6e6;
  $secondaryColor2: #f2f2f2;
  $secondaryFont: black;

  @include gradient($primaryColor, $primaryColor2, 'vert', 0%, 100%);
  color: $primaryFont;
  &.dark {
    @include gradient($secondaryColor, $secondaryColor2, 'vert', 0%, 100%);
    color: $secondaryFont;
  }

  &:hover {
    &.dark {
      border: $border-width solid transparent;
      color: $secondaryFont;
      @include gradient($secondaryColor2, $secondaryColor2, 'vert', 0%, 100%);
    }
    border: $border-width solid $primaryColor;
    @include gradient(white, white, 'vert', 0%, 100%);
    color: $primaryColor2;
  }

  &:active {
    @include gradient($primaryColor, $primaryColor2, 'vert', 0%, 100%);
    color: $primaryFont;
  }
}

.talus-secondary-btn {
  $borderColor: #cccccc;

  $primaryColor: #e6e6e6;
  $primaryColor2: #f2f2f2;
  $primaryFont: black;

  $secondaryColor: #808080;
  $secondaryFont: white;

  border: 1px solid $borderColor;

  @include gradient($primaryColor, $primaryColor2, 'vert', 0%, 100%);
  color: $primaryFont;

  &:hover {
    @include gradient($secondaryColor, $secondaryColor, 'vert', 0%, 100%);
    color: $secondaryFont;
    font-weight: 400;
  }

  &:active {
    @include gradient($primaryColor, $primaryColor2, 'vert', 0%, 100%);
    color: $primaryFont;
  }
}

.ghsa-button {
  position: relative;
  padding: 10px 15px 10px 45px;
  &:before {
    vertical-align: middle;
    white-space: pre;
    content: '          ' attr(value);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url('/img/gida-logo.png');
  }
}
