// .alt-btn {
// 	padding: 5px 15px;
// 	@include border-radius(7.5px);
// }
// .alt-btn-large {
// 	padding: 10px 25px;
// 	@include border-radius(7.5px);
// }

.alt-btn {
  background: rgb(5, 48, 97);
  border: none;
}

.btn-view-ghsa,
.btn-view-map {
  top: -2px;
  position: relative;
  left: 15px;
  &.btn-view-map {
    left: 30px;
  }
  &.map-btn {
    vertical-align: text-top;
    top: -8px;
    position: relative;
    font-style: normal;
    left: 15px;
  }
  &.btn-hidden {
    display: none;
  }
}

.funder-recipient-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 16px;

  height: 50px;
  width: 250px;

  $fundingColor: #597251;
  $recipientColor: #623B63;
}
