.info-container {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	pointer-events: none;

	.info-box {
		display: inline-block;
		position: relative;
		padding-top: 18px;
		width: 350px;
		border: $border;
		background-color: rgba(255,255,255,0.96);
		pointer-events: all;
	}
	.info-close-button {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		@include opacity(0.75);

		&:hover {
			@include opacity(1);
		}
		img {
			width: 22px;
			height: 22px;
		}
	}
	.info-title {
		font-size: 1.4em;
		font-weight: 600;
		text-align: center;
	}
	.info-total-value {
		font-family: 'Raleway', sans-serif;
		font-size: 1.6em;
		margin-top: 10px;
		text-align: center;
	}
	.info-content {
		display: none;
		padding: 0 20px;
	}
	.info-tab-container {
		margin-top: 20px;
	}
	.info-table-container {
		margin-top: 10px;
		text-align: left;
	}
	.info-table {
		.money-cell {
			text-align: right;
			white-space: nowrap;
		}
	}
	.info-source-text {
		margin: 10px 0 25px;
		font-size: 0.9em;
		text-align: right;
	}
	.info-button-container {
		margin-top: 20px;
	}
	.info-more-button-container {
		margin-top: 20px;
		padding: 5px 20px;
		cursor: pointer;

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}
		img {
			top: 0;
			width: 10px;
			height: 8px;
			margin: 0 7px;
		}
	}
}