.info-container {
	display: none;
	//position: absolute;
	//top: 20px;
	//left: 0;
	width: 100%;
	max-width: 350px;
	pointer-events: none;
    background-color: white !important;
    color: black !important;
    &.dark {
        /*background-color: #a0a0a0 !important;*/
        /*new*/
        /*background-color: rgba(160, 160, 160, 0.9);*/
        /*new*/
    }

	.info-box {
		transform-origin:top;
		display: inline-block;
		position: relative;
		padding: 0;
        width: 100%;
		//max-width: 288px;
		//background-color: rgba(255,255,255,1);
        /*new*/
        background-color: rgba(160, 160, 160, 0.9) !important;
        /*new*/
		// background-color: rgba(255,255,255,0.96);
		pointer-events: all;
          color: white !important;
	}
	.info-value-box:first-child {
		position: relative;
		// left: 5px;
	}
	.info-value-box:last-child {
		position: relative;
		// left: -5px;
	}

	.info-inkind-details {
		display: block;
		.info-inkind-unit {
			font-family: 'Raleway', sans-serif;
			font-size: 1.25em;
			/* margin-top: 20px; */
			display: inline-block;
			/* text-align: center; */
		}

		.info-inkind-value, .undetermined-value {
			display: inline-block;
		}
		.undetermined-value {
			font-family: 'Raleway', sans-serif;
			font-size: 1.5em;
			max-width: 370px;
			margin-top: 20px;
			margin: 20px auto 0;
			text-align: center;
			// margin-left: 20px;
			// margin-left: 30px;
		}

		.info-inkind-value-label, .undetermined-label {
			max-width: 100px;
			margin: 10px auto 0 auto;
		}
	}


	.info-close-button {
		position: absolute;
		top: 13px;
		right: 20px;
		cursor: pointer;
		@include opacity(0.75);

		&:hover {
			@include opacity(1);
		}
		img {
			width: 20px;
			height: 20px;
		}
	}
	.info-title {
        color: white !important;
		padding: 7px 50px 7px 11px;
		font-size: 1.4em;
		font-weight: 600;
		text-align: left;
	}
	.info-profile-type {
		margin-top: 5px;
		text-align: center;
		font-size: 1.2em;
	}
	.info-score-text-container {
		margin-top: 10px;
		text-align: center;
		font-weight: 600;
		font-size: 1.2em;
	}
    .row.c-and-d {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .info-value-box{
        padding-left: 15px;
        padding-right: 0px;
    }
	.info-value {
		font-family: 'RawlineRegular';
		font-size: 18px;
        font-weight: 600;
		margin-top: 12px;
		text-align: left;
        color: black !important;
        &.dark {
            color: white !important;
        }
	}
	.info-value-label {
		// margin-top: 10px;
		text-align: left;
        margin-left:0px;
        margin-top: 10px;
		font-size: 10px;
		max-width: 350px;
        color: black !important;
        &.dark {
            color: white !important;
        }
	}
	.info-button-container {
		margin-top: 20px;
        margin-bottom:10px; 
        margin-right: 15px;
      float: right;
        border: #cccccc;
	}
	img {
		position: relative;
		top: -1px;
		margin-left: 5px;
		width: 16px;
		height: 16px;
	}
	//.source-text {
		//	text-align: right;
		//	margin-top: 20px;
		//	font-size: 0.95em;
		//}
	}
	// .info-inkind-value, .undetermined-value {
		// display: inline-block;
		// }
		.undetermined-value {
			font-family: 'Raleway', sans-serif;
			// font-size: 16px;
			font-size: 1.1em;

			max-width: 370px;
			margin-top: 20px;
			margin: 20px auto 0;
			text-align: center;
			line-height: 20px;
		}

		.undetermined-label {
			max-width: 100px;
			margin: 10px auto 0 auto;
		}
		.info-value {
			font-family: 'Raleway', sans-serif;
			// font-size: 2.2em;
			margin-top: 10px;
			text-align: center;
		}
		.info-value-label {
			// margin-top: 10px;
			text-align: center;
			font-size: .8em;
			margin: 10px auto 0;
			max-width: 350px;
		}
