.overlay {
	fill: none;
	pointer-events: all;
}
.country {
  fill: #ccc;
  stroke: none;
  stroke-width: 0.5;
  &:hover {
  	stroke: rgba(255,255,255,0.8);
  }
  &.active {
    stroke: rgba(255,109,0,0.8);
  }
}
.boundary {
  fill: none;
  stroke: none;
}
.country-link {
  fill: none;
  stroke: steelblue;
  stroke-linecap: round;
  opacity: 0.2;
}


/* --- Map Legends --- */
.legend-bar {
}
.legend-text {
	text-anchor: middle;
}
.legend-title {
	font-size: 1.1em;
	text-anchor: middle;
}

.viewport-base,
.viewport-cutout {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0;
}

.viewport-base {
  stroke: #000;
  fill: #000;
}

.viewport-cutout {
  stroke: #c4c6c6;
}

.viewport-edge {
    stroke: #cccccc;
    fill: none;
    stroke-width: .25px;
}