.overlay {
	fill: none;
	pointer-events: all;
}
.country {
  fill: #ccc;
  stroke: none;
  stroke-width: 0.5;
  &:hover {
  	stroke: rgba(255,255,255,0.8);
  }
  &.active {
    stroke: rgba(255,109,0,0.8);
  }
}
.boundary {
  fill: none;
  stroke: none;
}


/* --- Map Legends --- */
.legend-bar {
}
.legend-text {
	text-anchor: middle;
}
.legend-title {
	font-size: 1.1em;
	text-anchor: middle;
}