.overlay {
	fill: none;
	pointer-events: all;
}
.country {
  fill: #ccc;
  stroke: none;
  stroke-width: 0.5;
  &:hover {
  	stroke: rgba(255,255,255,0.8);
  }
}
.boundary {
  fill: none;
  stroke: none;
}