.navbar {
	padding-left: 15px;
	padding-right: 25px;
	border-bottom: $border;
	@include gradient(#fff, #f0f0f0);
}
.navbar .navbar-brand {
	color: #555;
	padding: 7px 10px;
	cursor: pointer;
}
.navbar .navbar-nav > li {
	&.active,
	&:hover {
		@include gradient(#e9e9e9, #e0e0e0);
	}
}
.navbar .navbar-nav > li > a {
	color: #555;
}
.navbar-brand img.logo {
	display: inline-block;
	height: 40px;
	margin-right: 10px;
}
.navbar-brand span:hover {
	color: #000;
}
.navbar-brand a:hover {
	text-decoration: none;
}