.live-search-results-container {
  z-index: 100;
  display: none;
  position: absolute;
  top: 44px;
  &.reverse {
    top: -157px;
    // top: -126px;
  }
  width: 280px;
  background-color: white;
  color: black;
  border-left: $border;
  border-right: $border;
  text-align: left;

  &.top-layout {
    top: auto;
    bottom: 49px;
  }
}
.live-search-no-results-text {
  display: none;
  padding: 10px;
  text-align: center;
  font-style: italic;
}
.live-search-results-box {
  padding: 10px 20px;
  border-bottom: $light-border;
  cursor: pointer;
  color: black !important;
  @include gradient(#fefefe, #f3f3f3);
  &:hover,
  &.active {
    @include gradient(#e6e6e6, #d9d9d9);
    div { color: #000; }
  }
}

.live-search-results-container.top-layout {
  .live-search-results-box:first-child,
  .live-search-no-results-text {
    border-top: $border;
  }
}
.live-search-results-container.bottom-layout {
  .live-search-results-box:last-child,
  .live-search-no-results-text {
    border-bottom: $border;
  }
}

.live-search-results-title {
	font-weight: 600;
}
.live-search-results-subtitle {
  font-size: 0.9em;
}