.slider.slider-horizontal {
  position: relative;

  .slider-track {
    @include gradient(#d0d0d0, #fdfdfd);
  }
  .slider-selection {
    @include gradient(#fff, #c6c6c6);
  }
  .slider-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    margin-left: -8px;
    z-index: 10;
    cursor: pointer;
    @include gradient(#ccc, #666);
  }
  .slider-tick-box {
    position: absolute;
    width: 100%;
    top: 15px;
    left: -1px;
    z-index: 9;
  }
  .slider-tick-group {
    position: absolute;
  }
  .slider-tick-vert {
    position: absolute;
    width: 2px;
    height: 4px;
    background-color: #999;
  }
  .slider-tick-text-container {
    position: absolute;
  }
  .slider-tick-text {
    position: absolute;
    top: 6px;
    left: -39px;
    width: 80px;
    font-size: 0.9em;
    text-align: center;
  }
}