.source-text {
  margin-top: 10px;

  a {
    // color: black;
    text-decoration: underline;
    font-size: 11px;
  }


  width: 80px;
  float: right;
}

.no-link {
  color: black;
}

.bump-right {
  position: relative;
  left: 30px;
}


.data-source-header {
  font-size: 1.4em;
  font-weight: 600;
}
.data-source-sep {
  margin-bottom: 10px;
}