.source-text {
  margin-bottom: 0px;

  a {
    // color: black;
      //??? font-size doing weird jump again
    text-decoration: underline;
    font-size: 12px;
  }
  width: 80px;
  float: right;

  &.fund-table-source-text *{
    width: auto;
  }
}

.no-link {
  color: black;
}

.bump-right {
  position: relative;
  left: 30px;
}


.data-source-header {
  font-size: 1.4em;
  font-weight: 600;
}
.data-source-sep {
  margin-bottom: 10px;
}