.table {
	width: auto;
	td:nth-child(n+2) {
		padding-left: 25px;
	}
}
.table thead td {
	font-weight: 600;
	padding: 5px;
}

.dataTables_wrapper .row:last-child {
	margin-top: 10px;
}
.dataTables_wrapper .dataTables_scroll {
	border-bottom: 1px solid #eee;
}