.tooltipster-sidetip.tooltipster-shadow .tooltipster-content,
.tooltipster-follower.tooltipster-shadow .tooltipster-content {
	padding: 12px 20px;
	color: #444;
	font-size: 1em !important;
}
.tooltip-title {
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
}
.tooltip-score-text {
	text-align: center;
	margin-top: 5px;
}
.tooltip-profile-type {
	text-align: center;
	margin-top: 5px;
	font-size: 0.95em;
}
.tooltip-main-value {
	margin-top: 20px;
	font-family: 'RawlineRegular';
	font-size: 1.9em;
	text-align: center;
	.inkind-value {
		font-size: .6em;
	}
}
.tooltip-main-value-label {
	margin: 15px 0 5px;
	text-align: center;
}
.tooltip-row-content {
	margin-top: 10px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-talus .tooltipster-box {
  padding: 0;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-talus .tooltipster-content {
  padding: 0;

  .tooltip-contents {
    @include flexbox();
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    .tooltip-header {
      @include flex(1);
      width: 100%;
      padding: 10px;
      background-color: #eee;

      .tooltip-primary-header {
        font-size: 14px;
        font-weight: 600;
      }
      .tooltip-sub-header {
        font-size: 11px;
        font-weight: 400;
      }
    }

    .tooltip-list {
      @include flex(2);

      @include flexbox();
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;

      white-space: normal;

      .tooltip-list-item {
        @include flex(1);
        width: 100%;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 10px;
        padding-bottom: 5px;

        .tooltip-list-item-title {
          width: 100%;
          font-size: 11px;
          font-weight: 600;
        }

        .tooltip-list-item-detail {
          width: 100%;
          font-size: 11px;
          font-weight: 400;
        }
      }
    }

    .tooltip-row {
      @include flex(1);
      width: 100%;
      padding-top: 5px;
      padding-right: 5px;
      padding-left: 10px;
      padding-bottom: 5px;

      @include flexbox();
      flex-flow: row nowrap;
      justify-content: space-between;

      .tooltip-row-title {
        @include flex(1 1 auto);
        margin-right: 20px;
        font-size: 11px;
        font-weight: 600;
      }

      .tooltip-row-detail {
        @include flex(1 1 auto);
        font-size: 11px;
        font-weight: 400;
        text-align: right;
      }
    }


    .tooltip-button {
      align-self: flex-end;
      margin-top: 10px;
      //border-radius: 5px;
      //background-color: #4264a0;
      //color: white;
      //padding: 5px;
      //cursor: pointer;

      //&:hover {
      //  @include drop-shadow(0 0 3px #888);
      //}
    }
  }
}