.tooltip-title {
	font-size: 1.6em;
	margin-top: 8px;
}
.tooltip-subtitle {
	font-size: 1.1em;
	margin-top: 8px;
}
.tooltip-content {
	margin-top: 30px;
	.col-sm-6 {
		margin-left: 0;
		margin-right: 0;
	}
}
.tooltip-big-number {
	font-size: 2.4em;
	font-weight: 600;
	text-align: center;
}
.tooltip-big-number-text {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
}
.go-to-layer-btn {
	margin-top: 20px;
	margin-bottom: 10px;
}


/* --- Popup --- */
.popup-content {
	.tooltip-subtitle {
		margin-top: 2px;
	}
	.tooltip-content {
		margin-top: 10px;
	}
	.tooltip-big-number-text {
		margin-top: -2px;
	}
}