.analysis-country-content {
	.analysis-country-title {
		text-align: center;
		cursor: pointer;
		margin-left: 225px;
		margin-right: 225px;
	}
	.profile-type-container {
		position: absolute;
		top: 71px;
		left: 0;
		width: 100%;
		font-weight: 600;
		text-align: center;
	}
	.profile-type-text {
		display: inline-block;
	}
}


/* --- Buffer Page --- */
.country-summary-content {
	display: none;
	margin-top: 40px;

	.column { padding: 0 30px; }
	.donor-column { text-align: right; }
	.summary-value-box {
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	.show-donor-btn,
	.show-recipient-btn {
		margin-top: 15px;
	}
	.country-summary-label {
		font-weight: 400;
		font-size: 1.2em;
	}
	.country-summary-value {
		margin-top: 10px;
		font-family: 'Raleway', sans-serif;
		font-size: 2.4em;
	}
}


/* --- Detail Page --- */
.country-flow-content {
	display: none;
	position: relative;
	margin-top: 10px;

	.switch-type-button {
		position: absolute;
		top: -44px;
		right: 30px;
	}
	.show-table-btn {
		margin-top: 10px;
	}
}
.country-flow-summary,
.progress-circle-section {
	padding: 35px 30px 20px;
	border-bottom: $light-border;
	margin-bottom: 20px;
	min-height: 160px;

	.progress-circle-title {
		font-weight: 600;
		font-size: 1.2em;
	}
	.country-summary-label {
		font-weight: 600;
		font-size: 1.2em;
	}
	.country-summary-value {
		margin-top: 5px;
		font-family: 'Raleway', sans-serif;
		font-size: 2.4em;
	}
	.country-summary-text,
	.progress-circle-text {
		float: left;
		max-width: 400px;
	}
	.time-chart-container {
		margin-left: 365px;
	}
	.progress-circle-container {
		margin-left: 430px;
	}
	.progress-circle-title {
		white-space: nowrap;

		.info-img {
			position: relative;
			width: 16px;
			height: 16px;
			margin-left: 5px;
		}
	}
	.progress-circle-description {
		margin-top: 15px;
	}
	.circle-chart-content {
		display: inline-block;
		margin: 0 20px;
		max-width: 160px;
		text-align: center;
		vertical-align: top;
	}
	.circle-chart-label {
		margin-top: 5px;
		font-size: 1.1em;
		font-weight: 600;
	}
	.circle-chart-sublabel {
		font-size: 0.95em;
		line-height: 1.25;
		margin-top: 4px;
	}
}
.country-chart-container {
	padding: 0 30px;

	.circle-pack-content {
		margin-top: 30px;
		text-align: center;
	}
	.circle-pack-title,
	.category-chart-title {
		font-size: 1.5em;
	}
	.circle-pack-description {
		max-width: 500px;
	}
	.country-table-container {
		margin-top: 20px;
		padding-right: 25px;
	}
	.name-container {
		width: 200px;
	}
}