.analysis-pair-content {
	.arrow-html {
		display: inline-block;
		position: relative;
		top: -2px;
		margin: 0 7px;
	}
}
.pair-summary-text {
	margin: 0 20px 30px;
	font-size: 1.3em;
	font-weight: 600;
}