.analysis-container {
	padding: 0;
	border-left: $border;
	border-right: $border;
	@include gradient(#fff, #f0f0f0);
}
.analysis-filter-bar {
	position: relative;
	padding: 15px 30px;
	border-bottom: $border;
	text-align: center;
	z-index: 1000;

	.filter-box {
		display: inline-block;
		margin: 0 15px;
		text-align: left;
	}
	.slider-box {
		position: relative;
		top: -6px;
		margin-right: 50px;
	}
	.search-container {
		display: inline-block;
		position: relative;
		margin-left: 20px;
		color: #333;
	}
}
.analysis-content {
	position: relative;
	margin: 0;
	padding: 20px 30px 50px;
	z-index: 100;
}
.flag {
	position: relative;
	top: -2px;
	height: 30px;
	margin: 0 20px;
}
.table {
	.flag-container {
		display: inline-block;
		width: 40px;
		margin-right: 15px;
		text-align: right;
	}
	.flag {
		height: 16px;
		margin: 0;
	}
}
