.analysis-pair-content {
	margin-top: 30px;
	text-align: center;

	.analysis-country-title span {
		cursor: pointer;
	}
	.arrow-html {
		display: inline-block;
		position: relative;
		top: -2px;
		margin: 0 7px;
	}
}