.analysis-pair-content {
	position: relative;
	margin-top: 30px;
	text-align: center;

	.analysis-country-title {
		/* margin: 0 250px; */
		line-height: 1.5;
		margin: 0 auto;
		max-width: 710px;
	}
	.analysis-country-title span {
		cursor: pointer;
	}
	.arrow-html {
		display: inline-block;
		position: relative;
		top: -2px;
		margin: 0 7px;
	}
	.donor-button {
		position: absolute;
		top: 3px;
		left: 50px;
	}
	.recipient-button {
		position: absolute;
		top: 3px;
		right: 50px;
	}
	.flag { border: 1px solid #555; }

}