/*table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after {
   position: static;
   display: inline;
}*/

.data-container {
  @include flexbox(column nowrap);
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  padding-top: 20px;

  .title-container {
    @include flexbox(row nowrap);
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title {
      font-size: 28px;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      color: #11315D;
      &.dark {
        color: white;
      }
    }
  }

  .filter-container {
    width: 100%;
    margin: 10px 0;

    @include flexbox(column nowrap);
    justify-content: flex-start;
    align-items: flex-start;

    .filter-header {
      background-color: #E6E6E6;
      width: 100%;
      padding: 5px 10px 5px 5px;
      text-transform: uppercase;
      cursor: pointer;

      @include flexbox(row nowrap);
      justify-content: space-between;
      align-items: center;

      &.dark {
        background-color: #555;
        border: 1px solid #ddd;
      }
    }

    .filter-contents {
      background: transparent;
      padding: 5px;
      border: $lightpage-border;
      width: 100%;
      &.dark {
        background-color: $darkcolor;
        border: 1px solid #666666;
      }
    }
  }

  .download-container {
    align-self: flex-end;
    padding: 10px;
    margin: 10px 0;
  }

  .paginate_button {
    &.dark {
      &.active {
        a {
          background-color: $darkcolor;
        }
      }
      a {
        border: none;
        color: white;
        background-color: #36404d;
      }
    }
  }

  table {
    td,tr {
      border: 1px solid #666666;
    }
    td:nth-child(1) {
      border-right: none;
    }
    td:nth-child(2) {
      border-left: none;
      border-right: none;
    }
    td:nth-child(3) {
      border-left: none;
    }

    thead {
      td,tr {
        background-color: #eaeaea;
        color: black;
        &.dark {
          background-color: #555;
          color: white;
        }
      }
    }
    tbody {
      td,tr {
        background-color: white;
        color: black;
        &.dark {
          background-color: $darkcolor;
          color: white;
        }
      }
    }
  }

  .flip {
    transform: rotate(180deg);
  }
}