.home-container {
	position: relative;
	width: 100%;
	padding: 0;
	text-align: center;
	background-color: #222;
}
.map-container {
	width: 100%;
	max-height: calc(100vh - 51px);
	overflow-y: hidden;
}
.right-container {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 100;
}
.search-container {
	position: relative;
	margin-top: 10px;

	input {
		position: relative;
		width: 280px;
		padding: 6px 16px;
		border-color: #999;
		@include border-radius(5px);
	}
}
.radio-option.multi-line * {
		display: inline-block;
		vertical-align: top;
	}

.map-options-container {
	display: none;
	width: 280px;
	border: $border;
	text-align: left;
	background-color: rgba(240,240,240,0.8);
	z-index: 10;
	transition: background-color 1s;

	&:hover {
		background-color: rgba(240,240,240,0.925);
	}




	.map-options-title {
		display: flex;
		justify-content: space-between;
		font-weight: 600;
		padding: 10px 20px;
		background-color: rgba(240,240,240,0.5);
		cursor: pointer;

		img { top: 4px; }
		&:hover {
			background-color: rgba(240,240,240,0.8);
		}
	}
	.map-options-content {
		display: none;
		border-top: $border;
		padding: 15px 20px;
	}
	.filter-section:nth-child(n+2) {
		margin-top: 15px;
		border-top: $border;
		padding-top: 15px;
	}
	.filter-box:nth-child(n+2) {
		margin-top: 15px;
	}
	.score-filters { display: none; }
	.money-flow-type-filter {
		float: left;
	}
	.money-type-filter {
		margin-left: 102px;
	}
	.multiselect {
		width: 190px;
	}
	.radio-option {
		margin-left: 10px;
		cursor: pointer;
		span, div {
			position: relative;
			top: 3px;
		}
	}
	.radio-option input {
		position: relative;
		top: 2px;
	}
	.radio-option td {
		vertical-align: top;
	}
	.radio-option td:nth-child(2) {
		position: relative;
		top: 2px;
		left: 3px;
	}
	.slider {
		margin: 5px 0 15px 15px;
		width: 210px;
	}
	.info-img {
		position: relative;
		top: -1px;
		width: 13px;
		height: 13px;
		margin-left: 3px;
	}
	.info-img.ghsa-info-img {
		top: 28px;
	    right: 140px;
	}
	.or-text {
		padding-left: 27px;
		font-size: 0.95em;
	}
}
.legend-container {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	.legend-display-tab {
		display: inline-block;
		padding: 3px 12px;
		background-color: rgba(255,255,255,0.8);
		cursor: pointer;
		@include border-top-radius(5px);

		img {
			top: 0;
			width: 10px;
			height: 8px;
			margin: 0 7px;
		}
	}
	.legend-content {
		display: none;
	}
	.legend-box {
		display: inline-block;
		padding: 20px 15px 10px;
		border: $border;
		background-color: rgba(255,255,255,0.8);
	}
	.legend-tick {
		stroke: #333;
	}
	image.legend-tooltip {
		width: 14px;
		height: 14px;
	}
}