.home-container {
  width: 100%;
  min-height: 500px;
  height: 100%;

  @include flexbox();
  flex-flow: row wrap;

  .left-pane {
    @include flex(1 1 180px);

    padding: 20px 50px 0 0;

    @include flexbox();
    flex-flow: column nowrap;
    justify-content: space-between;

    .welcome-container {

      .welcome-text {
        font-size: 28px;
        text-transform: uppercase;
        color: #11315D;
        font-family: 'Raleway', sans-serif;
      }

      .welcome-desc {
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: #4D4D4D;
      }
    }

    .search-container {
      margin-top: 100px;

      .search-title {
        font-size: 22px;
        text-transform: uppercase;
        color: #11315D;
        font-family: 'Raleway', sans-serif;
      }

      .search-box {
        padding-top: 10px;
        padding-bottom: 5px;
      }

      .search-buttons {
        @include flexbox();
        flex-flow: row;
        justify-content: end;
        padding: 0;

      }
    }

  }
  .map-container {
    @include flex(1 1 300px);

    background-color: #F2F2F2;

    padding: 20px;

    @include flexbox();
    flex-flow: column nowrap;
    justify-content: space-between;

    .map-title {
      @include flex(1 0 20px);
      justify-self: flex-start;
      font-size: 22px;
      text-transform: uppercase;
      color: #11315D;
      font-family: 'Raleway', sans-serif;
    }

    .map-buttons {
      @include flex(1 0 20px);
      justify-self: flex-start;
    }

    .funding-recipient-map {
      @include flex(5 0 600px);
    }

    .funder-recipient-toggle {
      @include flex(1 0 20px);
      align-self: flex-end;
    }
  }
}