.map-page-container {
  @include flexbox(column nowrap);
  justify-content: space-between;
  align-items: flex-start;

  .map-page-title {
    @include flex(0 0 50px);
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
  }

  .map-page-buttons {
    @include flex(0 0 50px);
    position: relative;
    top: 100px;
    align-self: flex-end;
  }

  .map-page-tabs {
    width: 100%;

    .content {
      @include flexbox(row );
      justify-content: space-between;
      align-items: flex-start;

      .left-pane {
        @include flex(2 0 100px);

        background: transparent;

        height: 100%;

        @include flexbox(column nowrap);
        justify-content: space-between;
        align-items: center;

        .map-container {
          @include flex(5 0 200px);
          width: 100%;
          background: transparent;
        }

      }

      .legend-container {
        @include flex(1 1 20px);
        width: auto;
        background: transparent;
        div {
          background: transparent;
        }
        &.dark {
          border: $light-border;
        }

      }

      .info-container {
        background: $lightcolor;
        color: $darkcolor;
        width: auto;
        div {
          color: $darkcolor;
          background: transparent;
        }
      }

      .map-and-search-container {
        @include flex(1 1 100px);
        background: transparent;

        div,label {
          background: transparent;
        }
      }

      div,label {
        background: transparent;
      }

      .paginate_button {
        &.dark {
          &.active {
            a {
              background-color: $darkcolor;
            }
          }
          a {
            border: none;
            color: white;
            background-color: #36404d;
          }
        }
      }

      table {
        td,tr {
          border: 1px solid #666666;
        }
        td:nth-child(1) {
          border-right: none;
        }
        td:nth-child(2) {
          border-left: none;
        }

        thead {
          td,tr {
            background-color: #eaeaea;
            color: black;
            &.dark {
              background-color: #36404d;
              color: white;
            }
          }
        }
        tbody {
          td,tr {
            background-color: white;
            color: black;
            &.dark {
              background-color: $darkcolor;
              color: white;
            }
          }
        }
      }
    }

  }
}


