.map-page-container {
    @include flexbox(column nowrap);
    justify-content: space-between;
    align-items: flex-start;

    .map-page-title {
        @include flex(0 0 50px);
        font-size: 28px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .map-page-buttons {
        @include flex(0 0 50px);
        position: relative;
        top: 0px;
        margin-right: -5px;
        align-self: flex-end;
        z-index: 1000;
    }

    .map-page-tabs {
        width: 100%;
        margin-top: -35px;

        /*height: 920px;*/
        /*new*/
        //height: 648px;
        /*new*/
        @media (max-width: 1199px) {
            height: 1100px;
        }
        @media (max-width: 992px) {
            height: 1550px;
        }
        @media (max-width: 768px) {
            height: 1940px;
        }
        @media (max-width: 496px) {
            height: 2000px;
        }

        .org-content {
            height: 750px !important;
            margin-bottom: 45px;
        }

        .map-content {
            height: 648px !important;
            padding: 0px;
            margin-bottom: -100px;
        }

        .content {
            @include flexbox(row nowrap);
            justify-content: space-between;
            align-items: flex-start;
            /*height: 76%;*/
            /*new*/
            //height: 100%;
            /*new*/
            .left-pane {
                /*@include flex(0 3 800px);*/
                @include flex(1 3 800px);

                background: transparent;
                /*padding: 30px 0px 30px 0px;*/
                max-height: 800px;
                /*new*/
                padding: 30px 0px 0px 0px;
                /*new*/
                @include flexbox(column nowrap);
                justify-content: space-between;
                align-items: center;

                .map-header {
                    @include flex(1);
                    align-self: flex-start;
                    width: 380px; //new
                    margin-left: 20px; //new
                    @include flexbox(column nowrap);
                    justify-content: flex-start;
                    align-content: flex-start;

                    .map-title {
                        font-size: 16px;
                        font-style: italic;
                        margin-left: 3px;
                    }
                }

                .map-container {
                    @include flex(0 3 545px);
                    width: 100%;
                    background: transparent; //margin-top:35px;
                    /*new*/
                    margin-top: 0px;
                    /*new*/
                }

            }
            
            .legend-position{
                width:80%;
                height:100px;
                float: left;
            }

            .legend-container {
                @include flex(0 0 0px);
                width: auto;
                background: transparent;
                border: white;
                /*bottom: 45px;*/
                /*new*/
                position: absolute;
                //left: 95px;
                margin-left: auto; 
                margin-right: auto;
                bottom: 0px;
                /*new*/
                div {
                    //background: transparent;
                    //new    
                }

                .legend-display-tab {
                    //background: #555;  
                    width: 140px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 5px 5px 0px 0px;
                    background-color: $overlayLightColor; 
                    border: $lightpage-border;
                    border-bottom-width:0px;
                    
                    
                    &.dark {
                        background-color: $overlayDarkColor;
                        border: $darkpage-border;
                        border-bottom-width:0px;
                    }
                    
                    .legend-tab-content {
                        text-align: center;
                    }
                }
                .legend-content {
                    padding: 13px;
                    background-color: $overlayLightColor;
                    border: $lightpage-border;
                    
                    &.dark {
                        background-color: $overlayDarkColor;
                        border: $darkpage-border;
                        
                        .legend-box>svg>g>text{
                            color: white !important;
                        }
                    }
                }
            }

            .info-container {
                background: transparent;
                color: $darkcolor;
                border: $lightpage-border;
                width: 100%;
                border-bottom-width: 0px;
                
                &.dark{
                    border: $darkpage-border;
                    border-bottom-width: 0px;
                }

                div {
                    color: $darkcolor;
                    background: transparent;
                }
            }

            .country-option-column {
                margin-top: -1px;
                /*width: auto;*/
                /*new*/
                width: 25%;
                position: absolute;
                right: 25px;
                /*new*/
            }

            .map-and-search-container {
                @include flex(1 0 350px); //background: transparent;
                align-self: flex-start;
                width: 100%;
                padding: 20px;

                background-color: $overlayLightColor;
                border: $lightpage-border;

                &.dark {
                    background-color: $overlayDarkColor;
                    border: $darkpage-border;
                }

                .selected-country-container {
                    width: 100%;

                    .selected-country-name {
                        width: 100%;
                        height: auto;
                    }
                }

                .search-container {
                    position: relative;

                    .live-search-results-container {

                        .live-search-results-contents {
                            background: white;
                            position: absolute;
                            top: 194px;
                        }
                    }
                }

                div,
                label {
                    &:not(.slider-handle) {
                        background: transparent;
                    }
                    .slider-handle {
                        background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
                    }
                }
            }

            div,
            label {
                background: transparent;
            }

            .slider-tick-vert {
                background-color: #999 !important;
            }

            .paginate_button {
                &.dark {
                    &.active {
                        a {
                            background-color: $darkcolor;
                        }
                    }
                    a {
                        border: 1px solid #ccc;
                        color: #ccc;
                        background-color: #36404d;
                    }
                }
            }

            .table-content {
                @include flexbox(row wrap);
                justify-content: space-between;
                align-items: flex-start;

                .left-table,
                .right-table {
                    padding: 10px;
                    @include flex(1 0 400px);

                    @include flexbox(column nowrap);
                    justify-content: flex-start;
                    align-items: center;

                    div.dataTables_wrapper {
                        width: 100%;
                    }

                }
            }

            table {
                width: 100%;

                td,
                tr {
                    border: 1px solid #666666;
                }
                td:nth-child(1) {
                    border-right: none;
                }
                td:nth-child(2) {
                    border-left: none;
                }

                thead {
                    td,
                    tr {
                        background-color: #eaeaea;
                        color: black;
                        &.dark {
                            background-color: #36404d;
                            color: white;
                        }
                    }
                }
                tbody {
                    td,
                    tr {
                        background-color: white;
                        color: black;
                        &.dark {
                            background-color: $darkcolor;
                            color: white;
                        }
                    }
                }
            }
        }

    }
}


.table-title-container {
    width: 100%;

    .fund-table-title,
    .rec-table-title {
        float: left;
    }
}
