.submit-page-container {
	position: relative;

	input[type="file"] { display: none; }
	.upload-button-container {
		margin-top: 20px;
	}
	.submit-form-content {
		margin-top: 30px;
		border-top: $light-border;
		padding-top: 20px;
	}
	.submit-button-container {
		margin-top: 30px;
		text-align: center;
	}
}
