<script id="analysis-country-template" type="text/x-handlebars-template">
    <div class="analysis-container container">
        <div class="analysis-country-content analysis-content">
            <div class="row">
                <div class="country-header">
                    <div class="profile"></div>
                    
                    <div class="analysis-country-title country-page">
                        <div class="analysis-country-flagAndName"></div> 
                    </div>
                </div>
                <div class="ghsa-toggle-options-container">
                    <div class="ghsa-toggle-options">
                        <div class="dropdown-label">Click to show:</div>
                        <div class="ind-type-filter">
                            <div class="radio-option">
                                <input type="radio" name="ind-country" ind="money" checked/>
                                <span>All Funding</span>
                            </div>
                            <div class="radio-option">
                                <input type="radio" name="ind-country" ind="ghsa" />
                                <span>GHSA Funding Only</span>
                                <img class="ghsa-info-img info-img" src="img/info.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="switch-type-button btn btn-default">Switch to Recipient Profile</div>-->
                <div class="switch-type-button"></div>

                <button id="GHSAButton" class="talus-btn talus-secondary-btn ghsa-button" value="GHSA"></button>
                
                {{!--<div class="selectCurrencyContainer">
                    <p class="selectCurrency">Select Currency</p>
                    <button id="currencyChoice" class="currencyOption">
                        <p id="currencyChoiceText">US Dollars (USD)</p>
                    </button>
                    <div id="currencyDropdown" class="curDropdownContent"> 
                        <a href=""> US Dollars (USD) </a> 
                        <a href=""> Currency2 </a> 
                        <a href=""> Currency3 </a> 
                    </div>
                </div> --}}
                
            </div>
            <div class="country-summary-content row">
                <div class="donor-column column col-sm-6">
                    <div class="summary-value-box">
                        <div class="country-summary-label">
                            Funds Disbursed
                            <br> from <span class="start-year"></span> to <span class="end-year"></span>
                        </div>
                        <div class="country-funded-value country-summary-value"></div>
                        <div>
                            <div class="show-donor-btn btn btn-default">Show Funder Profile</div>
                        </div>
                    </div>
                </div>
                <div class="recipient-column column col-sm-6">
                    <div class="summary-value-box">
                        <div class="country-summary-label">
                            Funds Received
                            <br> from <span class="start-year"></span> to <span class="end-year"></span>
                        </div>
                        <div class="country-received-value country-summary-value"></div>
                        <div>
                            <div class="show-recipient-btn btn btn-default">Show Recipient Profile</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row country-flow-summary-container">
                <div class="country-flow-summary">
                    <div class="funds-dispursed-title">
                        <br> Total Funds <span class="provided-or-received"></span> from <span class="start-year">2014</span> to <span class="end-year">2017</span>
                    </div>
                    <div class="no-data-message funds">
                        No funding with specific amounts to show. Available data are in tables below.
                        <br>
                        <br> 
                        <br>
                        <div class="show-table-btn btn btn-default"><img style="width:15px;" src="/img/tableFunds.svg" alt="">&nbsp;&nbsp;View table of funds</div>
                    </div>
                    <div class="data-area">
                        <div class="country-summary-text">
                            <div class="country-summary-value committed"></div>
                            <div class="country-summary-label committed">Committed</div>
                            <div class="country-summary-value disbursed"></div>
                            <div class="country-summary-label disbursed">Disbursed</div>
                            <div class="show-table-btn btn btn-default"><img style="width:15px;" src="/img/tableFunds.svg" alt="">&nbsp;&nbsp;View table of funds</div>
                        </div>
                        <div>
                            <div class="time-chart-container">
                                <div class="time-chart-graphic"> </div>
                            </div>
                        </div>
                        <div class="source-text bump-right">
                            <b>Source:</b> IATI registry via
                            <a href="http://d-portal.org" target="_blank">d-portal</a>, 2014-2017.
                        </div>
                    </div>
                </div>
                <div class="country-flow-summary-empty">
                    <div class="no-text">
                        <p>
                            No <span class="ghsa-only-text"></span>funding data are currently available where
                            <b class="country-name"></b> is a <b class="money-type-noun"></b>.
                        </p>
                        <p>
                            To submit data, click the button below. Or switch to the
                            <span class="opp-money-type-noun"></span> profile by clicking the top-right button.
                        </p>
                    </div>
                    <div class="submit-data-btn btn btn-default">Submit Data</div>
                </div>
                <div class="progress-circle-section">
                    <h3 class="progress-circle-title">
                        Funding by Core Element
                        <img class="core-element-text info-img" src="img/info.png" />
                    </h3>
                    <div class="progress-circle-text">
                        <div class="progress-circle-description description ce-data-area">
                            Percentages shown for each core element.
                        </div>
                        <div class="">
                            <div class="toggle-progress-circle-chart-container">
                                <form class="fund-toggle">
                                    <label class="radio-inline">
                                        <input id="progress-spent" type="radio" name="fundtype" value="total_spent">Disbursed Funds
                                    </label>
                                    <br>
                                    <label class="radio-inline">
                                        <input id="progress-committed" type="radio" name="fundtype" value="total_committed">Committed Funds
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="no-data-message core-element"></div>
                    </div>
                    <div class="progress-circle-container">
                        <div class="circle-chart-content">
                            <div class="circle-chart-label1">Prevent</div>
                            <div class="prevent-circle-chart circle-chart"></div>
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label1">Detect</div>
                            <div class="detect-circle-chart circle-chart"></div>
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label1">Respond</div>
                            <div class="respond-circle-chart circle-chart"></div>
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label1">Other</div>
                            <div class="other-circle-chart circle-chart"></div>
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label2">General&nbsp;IHR&nbsp;&nbsp;<img class="general-ihr-info-img info-img" src="img/info.png" />Implementation</div>
                            <div class="general-circle-chart circle-chart"></div>
                        </div>
                    </div>
                    <div class="source-text bump-right">
                        <b>Source:</b> IATI registry via
                        <a href="http://d-portal.org" target="_blank">d-portal</a>, 2014-2017.
                    </div>
                </div>
                
                
                <div class="readyscore-circle-section">
                    <h3 class="readyscore-circle-title">
                        Resolve ReadyScore Categories
                        <img class="readyscore-info-img info-img" src="img/info.png" />
                    </h3>
                    <div class="readyscore-circle-text">
                        <div class="readyscore-circle-description description ce-data-area">
                            Percentage shown for each Resolve ReadyScore.
                        </div>
                        <div class="no-data-message core-element"></div>
                    </div>
                    <div class="readyscore-circle-container">
                        <div class="circle-chart-content">
                            <div class="circle-chart-label">Find and Verify Outbreaks</div>
                            <div class="find-verify-prevent-circle circle-chart"></div> 
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label">Stop <br /> Outbreaks</div>
                            <div class="stop-outbreaks-circle circle-chart"></div>
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label">Prevent<br />Outbreaks</div>
                            <div class="prevent-outbreaks-circle circle-chart"></div>
                        </div>
                        <div class="circle-chart-content">
                            <div class="circle-chart-label">Protect&nbsp;from&nbsp;Other&nbsp;<br /> Health&nbsp;Threats</div>
                            <div class="protect-other-circle circle-chart"></div>
                        </div>
                    </div>
                    <div class="source-text bump-right">
                        <b>Source:</b> IATI registry via
                        <a href="http://d-portal.org" target="_blank">d-portal</a>, 2014-2017.
                    </div>
                </div>
                
                
                <div class="category-chart-section">
                    <h3 class="category-chart-title">
                        Funding by Core Capacity<img class="info-img core-capacity-text" src="img/info.png"/>
                    </h3>
                    <div class="">
                        <div class="">
                            <div class="description">
                                The chart below shows the funds <span class="money-type"></span> by core capacity. Only funded core capacities are shown. Hover over a bar to see additional funding details.
                            </div>
                        </div>
                        
                        <div class="toggle-disbursed-chart-container category-data-area">
                            <form class="fund-toggle">
                                <label class="radio-inline">
                                    <input id="chart-spent" type="radio" name="fundtype" value="total_spent">Disbursed Funds
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input id="chart-committed" type="radio" name="fundtype" value="total_committed">Committed Funds
                                </label>
                            </form>
                        </div>
                        
                        <div class="jee-sort-options inline">
                            <div class="dropdown-label">Sort by:</div>
                            <div class="ind-type-filter two-line">
                                <div class="radio-option">
                                    <label class="radio-inline">
                                        <input type="radio" name="jee-sort" ind="amount" checked/> Amount
                                    </label>
                                </div>
                                <div class="radio-option">
                                    <label class="radio-inline">
                                        <input type="radio" name="jee-sort" ind="score" /> JEE Score</label>
                                    <img class="jee-info-img info-img" src="img/info.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="no-data-message core-capacity"></div>
                            <div class="category-chart-container">
                            </div>
                        </div>
                        <div class="legend-box category-chart-legend-box">
                            <div class="legend-header">Average JEE Score for Core Capacity <img class="jee-info-img info-img" src="img/info.png" /></div>
                            <div class="legend-content">
                            </div>
                        </div>
                        <div class="source-text bump-right">
                            <b>Source:</b> IATI registry via
                            <a href="http://d-portal.org" target="_blank">d-portal</a>, 2014-2017.
                        </div>
                    </div>
                </div>
               
               
                {{!-- <div class="circle-pack-container country-table-section">
                    <h3 class="country-table-title section-title"></h3>
                    <div class="no-data-description">
                        No funding data to show
                    </div>
                    <div class="data-area">
                        <div class="country-table-description description">
                            The table below displays <span class="opp-money-type-noun"></span>s in order of amount of funds <span class="money-type"></span>. Click on a row to view details.
                        </div>
                        <div class="toggle-disbursed-chart-container category-data-area">
                            <form class="fund-toggle">
                                <label class="radio-inline">
                                    <input id="chart-spent" type="radio" name="fundtype" value="total_spent">Disbursed Funds
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input id="chart-committed" type="radio" name="fundtype" value="total_committed">Committed Funds
                                </label>
                            </form>
                        </div>
                        <div class="table-container country-table-container first-country-table-container">
                            <table class="country-table first-country-table table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="circle-pack-container second-country-table-section">
                    <h3 class="second-country-table-title section-title"></h3>
                    <div class="no-data-description">
                        No funding data to show
                    </div>
                    <div class="data-area">
                        <div class="second-country-table-title description">
                            The table below displays funders in order of amount of funds <span class="money-type"></span>. Click on a row to view details.
                        </div>
                        
                        <div class="toggle-disbursed-chart-container category-data-area">
                            <form class="fund-toggle">
                                <label class="radio-inline">
                                    <input id="chart-spent" type="radio" name="fundtype" value="total_spent">Disbursed Funds
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input id="chart-committed" type="radio" name="fundtype" value="total_committed">Committed Funds
                                </label>
                            </form>
                        </div>
                        
                        <div class="table-container second-country-table-container">
                            <table class="country-table second-country-table table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="inkind-table-section">
                    <h3 class="inkind-table-title">In-kind Contributions Made</h3>
                    <div class="no-data-description">
                        No in-kind contributions to show
                    </div>
                    <div class="data-area">
                        <div class="circle-pack-description description">
                            The table below displays in-kind contribution <span class="opp-inkind-type-noun"></span>s in alphabetical order. Click on a row to view details.
                        </div>
                        <div class="toggle-disbursed-chart-container category-data-area">
                            <form class="fund-toggle">
                                <label class="radio-inline">
                                    <input id="chart-spent" type="radio" name="fundtype" value="total_spent">Provided Contributions
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input id="chart-committed" type="radio" name="fundtype" value="total_committed">Committed Contributions
                                </label>
                            </form>
                        </div>
                        <div class="inkind-table-container">
                            <table class="inkind-table country-table table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div> --}}
                <!--<div class="country-flow-summary-empty">
            <div class="no-text">
                <p>
                    No funding data are currently available where
                    <b class="country-name"></b>
                    is a <b class="money-type-noun"></b>.
                </p>
                <p>
                    To submit data, click the button below. Or switch to the
                    <span class="opp-money-type-noun"></span> profile by clicking
                    the top-right button.
                </p>
            </div>
            <div class="submit-data-btn btn btn-default">Submit Data</div>
        </div>-->
                <!-- The barchart that displays funds dispersed by core capacity-->
            </div>
</script>
