<script id="analysis-pair-template" type="text/x-handlebars-template">
    <div class="analysis-container container">
        <div class="analysis-table analysis-pair ghsa-toggle-options">
            <div class="dropdown-label">Click to show:</div>
            <div class="ind-type-filter">
                <!-- <div class="ind-type-filter two-line"> -->
                <div class="radio-option">
                    <input type="radio" name="ind-pair" ind="money" checked/>
                    <span>All Funding</span>
                </div>
                <div class="radio-option">
                    <input type="radio" name="ind-pair" ind="ghsa" />
                    <span>GHSA Funding Only</span>
                    <img class="ghsa-info-img info-img" src="img/info.png" />
                </div>
            </div>
        </div>
        <div class="analysis-pair-content">
            <h3 class="analysis-country-title center"></h3>
            <div class="donor-button btn btn-default">Go to Funder Page</div>
            <div class="recipient-button btn btn-default">Go to Recipient Page</div>
            <div class="country-funds-content">
                <div class="summary-text">
                    <div>
                        Total Committed Funds from <span class="start-year"></span> to <span class="end-year"></span>:
                        <b><span class="committed-value"></span>*</b>
                    </div>
                    <div>
                        Total Disbursed Funds from <span class="start-year"></span> to <span class="end-year"></span>:
                        <b><span class="spent-value"></span>*</b>
                    </div>
                </div>
                <div class="funds-tab-container">
                    <div class="btn-group">
                        <div class="tab btn btn-default" tab="all">All Funds</div>
                        <div class="tab btn btn-default" tab="cc">Funds by Core Capacity</div>
                        <div class="tab btn btn-default" tab="inkind">In-kind Contributions</div>
                    </div>
                </div>
                <div class="funds-table-container">
                    <table class="funds-table table table-condensed table-striped table-bordered">
                        <thead>
                        <tr></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="funds-source-text">
                        <b>Source:</b> International Aid Transparency Initiative (IATI) registry via
                        <a href="http://d-portal.org" target="_blank">d-portal</a>, 2014-2017.
                    </div>
                </div>
                <!-- <div class="disclaimer instructions">* Tables may include funds not represented in totals because specific amounts were not reported.</div> -->
            </div>
        </div>
    </div>
</script>
