<script id="data-template" type="text/x-handlebars-template">
    <div class="data-container container container-text">
        <div class="title-container">
            <div class="title">
                Download Data
            </div>
            <div class="data-toggle"></div>
        </div>
        <div class="filter-container">
            <div class="filter-header">
                <span class="filter-title">Select Data</span>
                <span class="filter-glyph glyphicon glyphicon-chevron-up"></span>
            </div>
            <div class="filter-contents">
                foobar
            </div>
        </div>
        <div class="download-container btn btn-default">
        </div>
        <div class="preview-container">
            <table class="download-data-table table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Project Name</td>
                        <td>Funder</td>
                        <td>Recipient</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>
