<script id="glossary-template" type="text/x-handlebars-template">
    <div class="glossary-container container container-text">
        <h3>Data Definitions</h3>
        <div class="description">
            Below, we identify the primary data elements required to track funding commitments and disbursals as part of the GHS Tracking Dashboard. Additional detail on required fields, including possible response options, is included in the "Legend" tab of the Data Reporting Template, available for download on the <a href="#submit">Submit Data</a> page.
        </div>
        <table class="glossary-table table table-striped">
            <tbody>
            <tr>
                <td>GHSA Funding</td>
                <td>Projects are identified as <a href="https://www.ghsagenda.org/" target="_blank">Global Health Security Agenda (GHSA)</a> funding only when they have been specifically identified as GHSA funding by the entity that reported or submitted funding data.
                </td>
            </tr>
            <tr>
                <td>Project Name</td>
                <td>The name of the project, which may be a large program, small activity, or other grouping of a funder's resources that have a specific benefitting recipient.
                </td>
            </tr>
            <tr>
                <td>Core Capacity</td>
                <td>The <a href="http://apps.who.int/iris/bitstream/10665/204368/1/9789241510172_eng.pdf" target="_blank">International Health Regulations (IHR)</a> core capacity that the project directly supports, if any. For data obtained via IATI, core capacities were tagged based on string searches of project names and descriptions. For data obtained via sources other that IATI, core capacities were tagged based review of project names and descriptions by the research team.
                </td>
            </tr>
            <tr>
                <td>Funder</td>
                <td>The organization which provides the funds for the project, such as a country government, agency, institution, NGO, foundation, or other organization.
                </td>
            </tr>
            <tr>
                <td>Recipient</td>
                <td>The recipient of project funds, such as a country government, agency, institution, NGO, foundation, or other organization.
                </td>
            </tr>
            <tr>
                <td>Committed Funds</td>
                <td>A commitment is an official obligation from a funder to provide a specified amount of funds for the benefit of the recipient. Committed funds are reported with a specified amount, currency, and transaction year.
                </td>
            </tr>
            <tr>
                <td>Disbursed Funds</td>
                <td>Outgoing funds from a funder that have been placed at the disposal of the recipient. Disbursed funds are reported with a specified amount, currency, and transaction year. Funds that are disbursed may or may not have corresponding commitments.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
