<script id="home-template" type="text/x-handlebars-template">
    <div class="home-container container container-text">
        <div class="left-pane">
            <div class="welcome-container">
                <div class="welcome-text">
                    Welcome to the Georgetown Infectious Disease Atlas
                </div>

                <div class="welcome-desc">
                    The GHS Tracking Dashboard maps the flow of funding and in-kind
                    support for global health security. Use the search bar below to
                    view more details about a funder or recipient's activities, or
                    click the buttons below the map on the right to explore global
                    funding and capacity.
                </div>
            </div>

            <div class="search-container">
                <div class="search-title">
                    View specific country or organization details
                </div>

                <div class="network-country-search search-box">
                    <div class="form-group has-feedback">
                        <input type="text"
                            class="country-search-input form-control"
                            placeholder="search for a country or organization">
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                    <div class="live-search-results-container">
                        <div class="live-search-no-results-text">No results found</div>
                        <div class="live-search-results-contents"></div>
                    </div>
                </div>

                <div class="search-buttons">
                    <button class="btn btn-primary ghsa-button">GHSA</button>
                    <button class="talus-primary-btn" id="profile-button" value="View Detailed Profile"></button>
                </div>
            </div>
        </div>

        <div class="map-container">
            <div class="map-title">
                Explore countries on a map
            </div>

            <div class="map-buttons">
                <button class="btn btn-primary alt-btn" data-value="funding">Funding Map</button>
                <button class="btn btn-primary alt-btn" data-value="jee">JEE Score Map</button>
            </div>

            <div class="funding-recipient-map">
            </div>

            <div class="funder-recipient-toggle"></div>
        </div>
    </div>
</script>
