<script id="settings-template" type="text/x-handlebars-template">
    <div class="settings-page-container container container-text">
        <h3>Set Currency</h3>
        <div class="description">
            Specify your preferred currency below to update the information shown in data and figures.
        </div>
        <div class="settings-content">
            <div class="dropdown-label">Currency</div>
            <select class="currency-select form-control"></select>
        </div>
    </div>
</script>
