/* --- Talus Category Colors (Dark) --- */
$dark-blue: #082b84;
$dark-orange: #ff6d00;
$dark-green: #0c6b0c;
$dark-purple: #3f2d63;
$dark-red: #c91414;

/* --- Chart Colors --- */
$blue: steelblue;
$lightblue: lightsteelblue;

/* --- Talus Logo Colors --- */
$talus-purple: #283375;
$talus-orange: #f15d22;
$talus-gray: #636363;

/* --- Dark JEE Colors --- */
$jee-red: #c12025;
$jee-yellow: #ede929;
$jee-green: #87c764;

/* ------------------------------------------------- */
$lightcolor: white;
$darkcolor: #222222;
$darkColorContainer: #444;
$lightColorContainer: #f4f4f4;
$overlayDarkColor: rgba(50, 50, 50, 0.9);
$overlayLightColor: rgba(255, 255, 255, 0.8);

.logo-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* --- LIGHT THEME --- */
.light-theme {
  background-color: white;
  .logo-image {
    background-image: url('/img/logo-light.png');
  }
}

/* --- DARK THEME --- */
.dark-theme {
  background-color: #233343;
  .logo-image {
    background-image: url('/img/logo-dark.png');
  }
}
