/* --- Talus Category Colors (Dark) --- */
$dark-blue: #082b84;
$dark-orange: #ff6d00;
$dark-green: #0c6b0c;
$dark-purple: #3f2d63;
$dark-red: #c91414;


/* --- Chart Colors --- */
$blue: steelblue;
$lightblue: lightsteelblue;


/* --- Talus Logo Colors --- */
$talus-purple: #283375;
$talus-orange: #f15d22;
$talus-gray: #636363;

/* --- Dark JEE Colors --- */
$jee-red: #c12025;
$jee-yellow: #ede929;
$jee-green: #87c764;